<!doctype html>
<html>
<head>
    <meta charset="UTF-8"> {# Good practice to include charset and viewport #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <title>{% block title %}matchPoints{% endblock %}</title> {# Make title dynamic #}

    <link rel="stylesheet" href="{{ url_for('static', filename='base_style.css') }}">

    {% block page_styles %}{% endblock %}
</head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}" style="font-size: 1.2em; font-weight: bold;">matchPoints</a>
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>
        <div class="container">
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="messages">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>