{% extends "base.html" %}

{% block content %}
    
    <h1>{{currentTournament}} 2025</h1>
    <table>
        <thead>
            <tr>
                <th>Position</th>
                <th>User</th>
                <th>Correct Predictions</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for userId, username, points, numCorrect, predCount in userResults %}
            <tr>
                {% if current_user.id == userId %}
                    <td style="font-weight: bold;">{{ loop.index }}</td>
                    <td style="font-weight: bold;"><a href="{{ url_for('user', username=username) }}" >{{username}}</a></td>
                    <td style="font-weight: bold;">{{ numCorrect }}</td>
                    <td style="font-weight: bold;">{{ points|round(1)}}</td>
                {% else %}
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url_for('user', username=username) }}">{{username}}</a></td>
                    <td>{{ numCorrect }} </td>
                    <td>{{ points|round(1) }} </td>
                {% endif %}
            </tr>
            {% if not loop.last %}
            <tr>
                <td colspan="4"><hr></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}